name: Deploy to GitHub Pages

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download love.js
        run: |
          mkdir -p build
          cd build
          wget https://github.com/Davidobot/love.js/releases/download/v0.1.1/love.js.zip
          unzip love.js.zip
          cd ..

      - name: Create .love file
        run: |
          cd build/love.js
          bash ./tools/7z/7z a ../../game.love ../../*.lua ../../assets ../../3DreamEngine ../../scenes
          cd ../..

      - name: Build web version
        run: |
          cd build/love.js
          node tools/build-web.js ../../game.love game
          cd ../..

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: 'build/love.js/game'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
